
/* styles.css */

html {
  height: 100%;
  width: 100%;
}


button:hover {
    background-color: #0056b3;
    padding: 6px ;
    color: floralwhite;
}

button {
  color : floralwhite;
  background: royalblue;
  padding: 5px;
  margin: 10px auto;
  width: 70%;
}


#card{
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}

label {
  padding: 4px;
  display :block;
  margin: 5px auto;
}

input{
  border: 2px solid black;
  padding: 6px;
  width: 90%;
}

#result{
  border: 2px solid white;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}